params {
	help = false
	app = "blastn"
	query = "$PWD/input.fasta"
	dbDir = "$PWD/DB/"
	dbName = "blastDB"
	threads = 2
	outdir = "out_dir"
	outfmt = "'6'"
	options = "-evalue 1e-3"
	outFileName = "input.blastout"
	chunkSize = 1
}

timeline {
	enabled = true
	file = "$params.outdir/timeline.html"
}

report {
	enabled = true
	file = "$params.outdir/report.html"
}

executor {
	queueSize = 100
	submitRateLlimit = '10 sec'
}

profiles {
	slurm { includeConfig './configs/slurm.config' }
}

manifest {
	name = 'rafalwoycicki/nextflow_learning'
	author = 'Rafal Woycicki'
	description = 'trial of nextflow training on the basis of Andrew Severin course at www.bioinformaticsworkbook.org'
	mainScript = 'main.nf'
	version = '0.0.1'
}

